@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #c0e1f4;
  padding: 40px 20px;
}
main {
  max-width: 760px;
  margin: 0 auto;
}
.card {
  @apply bg-white p-5 rounded-md shadow-sm my-5;

  & h2 {
    @apply mb-0 font-bold;

    & + p {
      @apply lowercase text-xs font-bold text-gray-500;
      font-variant: small-caps;
    }
  }
  & p {
    @apply mb-2 text-sm text-gray-500;
  }
}
.btn {
  @apply bg-rose-500 text-white p-2 rounded-sm text-xs;
}
form {
  @apply max-w-sm mx-auto text-center;

  & input, & textarea {
    @apply block w-full p-2 rounded-sm my-4;
  }
  .error {
    @apply 
      my-4 p-2 text-sm rounded-md border-2 
      border-red-500 bg-red-200 text-red-500;
  }
}